@charset "UTF-8";

/* z-index 적용을 위해서는 position 지정 필요 */

body { 
/*  padding-top: 70px;  */
    background-color: black;
}

.navbar {
	background-color: black;
	border: 0;
	height: 50px;
}

.navbar-brand {
    padding: 5px;
    margin: 0px;
}

#fitcha {
	position: relative;
	z-index: 2;
	padding: 0px;
	margin: 0px;
	height: 45px;
	width: auto;
}

.row .thumnail img, .thumnail .poster-btn {
	width: 171px;
	height: 180px;
}

.container {
	background-color: black;
    position: relative;
    z-index:0;
}

.carousel-control {
	width: 3%;
}

.contents-title {
	position:relative;
	font-size: 1.4vw;
    color: #e5e5e5;
    font-weight: 700;
    z-index: 100;
}


.recommend-title {
    font-size: 1.4vw;
    color: #e5e5e5;
    font-weight: 700;
}

div .row {
/* 	width: 90%; */
}

#bs-example-navbar-collapse-1 {
	position: relative;
	z-index: 1;
	background-color: black;
/* 	opacity: 0.8; */
}

.left .carousel-control {
	width: 0px;
}

.right.carousel-control {
	width: 0px;
}

.container {
	position: relative;
	z-index:100;
}