@charset "UTF-8";

/* z-index 적용을 위해서는 position 지정 필요 */
/* body {
  /*  padding-top: 70px;  */
  /* background-color: black; */
/* } */

.navbar {
  background-color: black;
  border: 0;
  height: 50px;
}

.navbar-brand {
  padding: 5px;
  margin: 0px;
}

#fitcha {
/*   position: relative; */
/*   z-index: 2; */
  padding: 0px;
  margin: 0px;
  height: 45px;
  width: auto;
}

.container-fluid {
  position: fixed;
}

#bs-example-navbar-collapse-1 {
  position: relative;
  z-index: 1;
  background-color: black;
  opacity: 0.8;
}

.contents-title, .recommend-title {
  position: relative;
  z-index: 100;
  font-size: 1.4vw;
  font-weight: 700;
  color: #e5e5e5;
}

.img-thumbnail {
  transition-property: transform;
  transition-duration: 0.2s;
  transform-origin: top center;
  box-sizing: inherit;
  height: 220px;
}

.img-thumbnail:hover {
  transform: scale(1.08);
}
/* 
.carousel-control-prev, .carousel-control-next {
  width: 30px;
} */

.modal-dialog {
  width: 1000px;
}

